html {
  background:#fff;
  color: #fff;
  /* background-image: url(/images/background-blue-squares.png); */
  /* background-image: url(/images/background-blue-squares-2.png); */
  /* background-image: url(/images/background-blue-squares-3.png); */
  /* background-image: url(/images/background-blue-squares-4.png); */
  /* background-image: url(/images/background-blue-squares-5.png); */
  /* background-image: url(/images/background-blue-squares-6.png); */
  background-image: url(/themes/anuz_theme_liquid_blue/images/content-gradient.png);
  background-repeat: repeat-x;
}
body{
  font-family: "Gill Sans","Franklin Gothic Medium","Lucida Grande",Arial,Helvetica;
}
#main{
  margin: 0 auto;
  position: relative;
}
#wrapper{
  padding-bottom: 20px;
}
#header{
  margin-bottom: 10px;
  height: 70px;
}
#header h1{
  font-size: 260%;
  color: #fff;
  padding: 10px 0;
  position: absolute;
  top: 20px;
  left: 60px;
  z-index: 27;
}
#header .credits{
  display: block;
  background-color: #c2c655;
  color: #111;
  position: absolute;
  top: 0;
  left: 500px;
  padding: 4px 10px 10px 10px;
  line-height: 1.4em;
}
#header .credits a{
  background-color: #868a1f;
  padding: 2px;
  color: white;
}
#header h1 span.logo{
  padding-left: 20px;
  background-image: url(/themes/anuz_theme_liquid_blue/images/logo-green.png);
  background-repeat: no-repeat;
  background-position: top left;
  margin-right: 0px;
  width: 499px;
  display: block;
  height: 100px;
}
#sidebar{
  margin: 0 10px 0 0;
}
#navigation{
  position: absolute;
  left: 520px;
  top: 54px;
  z-index:20;
}
#navigation h3{
  display: none;
}
#navigation ul{
  display:block;
  float: left;
}
#navigation ul li{
  display:block;
  float: left;
}
ul#top-nav{
  border-top: 1px solid #759627;
  border-left: 1px solid #759627;

  
}
ul#plugins-nav{
  border-top: 1px solid #759627;
  border-right: 1px solid #759627;
}
#navigation li a{
  padding: 5px 10px;
  background: #ccc url(/themes/anuz_theme_liquid_blue/images/hover_nav.png) repeat-x left top;
  color: #333;
  display: block;
  text-decoration: none;
  padding-left: 6px;
}
#navigation li.active a,
#navigation li.active a:hover {
  background: #bcea4c url(/themes/anuz_theme_liquid_blue/images/active-nav.png) repeat-x left top;
  color: #333;
  cursor: default;
  padding-left: 6px;
}
#navigation li a:hover {
  color: #444;
  padding-left: 6px;
  background: #eee url(/themes/anuz_theme_liquid_blue/images/nav.png) repeat-x left top;
}
div#breadcrumb{
 background-color: #333;
 margin: -10px -10px 5px -10px;
 padding: 10px;
 color: #eee;
}
#content{
  width: 98%;
  background: #075470 url(/themes/anuz_theme_liquid_blue/images/content-gradient2.png) repeat-x top left;
  padding: 60px 10px 10px;
  /* border: 1px solid #800000;*/
  margin: 0 auto;
}
#footer{
  margin-top: 10px;
  background-color: #fff;
  color: #333;
  padding: 10px;
  text-align: center;
}
div.clear{
  clear: both;
}
h2{
  font-size: 175%;
  color: #fff;
  background: url(/themes/anuz_theme_liquid_blue/images/h2-back.png) no-repeat top left;
  padding-left: 60px;
  padding-top: 6px;
  font-weight: normal;
}
h3{
  font-size: 120%;
  color: #0084ff;
  background-color: #111;
  padding: 6px 10px;
  margin: 20px 0 6px;
}
p{
  margin: 10px;
  line-height: 1.5;
  color: #fff;
}
ol{
  margin-left: 20px;
}
ol li{
  list-style-type: decimal;
}
.module{
  background-color: #333;
  color: #ccc;
  padding: 10px;
}
a{
  color: #759627;
  text-decoration: underline;
}
a:hover{
  text-decoration: none;
}
ul.styled-ul{
  list-style-type: disc;
  list-style-image: url(/themes/anuz_theme_liquid_blue/images/arrow.png);
  padding-left: 20px;
  margin-left: -11px;
  width: 40%;
  padding-bottom: 5px;
  padding-top: 10px;
}
ul.styled-ul li{
  list-style-type: disc;
  list-style-image: url(/themes/anuz_theme_liquid_blue/images/arrow.png);
  list-style-position: inside;
  margin-bottom: 15px;
}
ul.styled-ul li a{
  color: #800000;
}
hr.main-divider{
  background-color: #bcea4c;
  color: #bcea4c;
}
ul.popularity li{
  display: inline;
}
ul.popularity li a{
  text-decoration:none;
  color: #444;
}
ul.popularity li a:hover{
  text-decoration: underline;
}
#sidebar h2{
  background: #759627;
  color: #FFF;
  padding-left: 10px;
  
}
.hTagcloud{
  background: #FFFFFF url(/themes/anuz_theme_liquid_blue/images/content-gradient.png) repeat-x scroll left top;
  border: 2px solid #759627; 
}
.guy-with-glasses{
  width: 580px;
  height: 380px;
  background: url(/themes/anuz_theme_liquid_blue/images/man_on_phone.png);
  margin-top: -60px;
  float:left;
  margin-left: 410px;
}
.left-cont-section{
  width: 40%;
  float: left;
  position:absolute;
  z-index: 110;
}
#home #content{
  height:308px;
}
.articles #content{
  width: 65%;
  float: left;
  border: 1px solid #bcea4c;
  margin-left: 10px;
}
.articles #sidebar{
  width: 25%;
  float:right;
}
.articles #navigation{
  right: 10px;
}
.popularity .popular				{ font-size:1.0em; }
.popularity .v-popular 		  { font-size:1.2em; }
.popularity .vv-popular 		{ font-size:1.4em; }
.popularity .vvv-popular		{ font-size:1.6em; }
.popularity .vvvv-popular	  { font-size:1.8em;color:#800; }